
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header input {
    padding: 5px;
    margin-right: 10px;
}

header button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

#addStockModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.right-align {
    text-align: right; /* Aligns text to the right */
    margin-top: 20px; /* Optional: Adds some space above */
}

        .right-align {
            text-align: right;
        }
        .portfolio-details {
            display: flex;
            justify-content:left;
            margin-bottom: 20px;
        }
        .portfolio-details div {
            flex: 1;
            padding: 10px;
           
            border-radius: 5px;
            text-align: center;
        }
        .pl-value {
            font-weight: bold; /* Bold P&L text */
        }
   .portc {
    font-weight: bold;
   }